<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>708BF6D01DC8A49A00BF235F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>708BF6E91DC8A49B00BF235F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>708BF6F41DC8A49B00BF235F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
